OPENAI_MODEL_NAME=google/gemini-3-flash-preview
EXA_API_KEY=your-exa-api-key
GEMINI_API_KEY=your-gemini-api-key
CREWAI_TRACING_ENABLED=true
OPENAI_API_KEY=sk-or-v1-dummykey1234567890abcdef1234567890abcdef1234567890abcdef1234567890 # this is required for memory, although not used
OUTPUT_DIR=./outputs
INPUT_DIR=./inputs